<%- include('partials/header.ejs') -%>

    <main class="under-construction">
        <h1>Page under<br />construction.</h1>
        
        <% posts.forEach(post => { %>
            <h1><%= post.title %></h1>
            <p><%= post.content %></p>
        <% }); %>

    </main>

<%- include('partials/footer.ejs') -%> 