<%- include('partials/header.ejs') -%>

    <main class="container">

        <!-- NAVIGATION -->

        <nav id="navbar">
            <div id="navbar-content">
                <ul>
                    <li><a href="#about-me">about me</a></li>
                    <li><a href="#education">education</a></li>
                    <ul>
                        <li><a href="#education">web development</a></li>
                        <li><a href="#education">data science</a></li>
                        <li><a href="#education">civil engineering</a></li>
                    </ul>
                    <li><a href="#employment">employment</a></li>
                    <ul>
                        <li><a href="#employment">data analysis</a></li>
                        <li><a href="#employment">project coordinator</a></li>
                        <li><a href="#employment">cadet engineer</a></li>
                    </ul>
                    <li><a href="#skills">skills</a></li>
                    <ul>
                        <li><a href="#skills">data wrangling</a></li>
                        <li><a href="#skills">data visualization</a></li>
                        <li><a href="#skills">programming</a></li>
                        <li><a href="#skills">machine learning</a></li>
                        <li><a href="#skills">tools & platforms</a></li>
                        <li><a href="#skills">big data</a></li>
                    </ul>
                </ul>
                <div class="navbar-spacer"></div>
            </div>
        </nav>

        <!-- MAIN CONTENT -->

        <article id="main" class="container"
            data-bs-spy="scroll"
            data-bs-target="#navbar"
            data-bs-offset="0"
            data-bs-smooth-scroll="true"
            tabindex="0">

            <div id="about-me" class="article-container">
                <h2>About me</h2>
                <p>Specialization in data science with 8+ years of experience in fast-paced, high-stress construction environments as part of interdisciplinary project management teams. Pursuing a professional career in data science to find solutions to inefficiencies in management systems that are common in industries that are slow to adopt new technologies.</p><br />
                <p>As an unrepentant hobbyist, machine learning provides tools that can either improve upon existing projects or open opportunities for new ones.</p>
            </div>

            <div id="education" class="article-container">
                <h2>Education</h2>
                <table id="education-table">
                    <tbody>
                        <tr>
                            <th class="education">Education</th>
                            <th class="institution">Institution</th>
                            <th class="graduation">Graduation</th>
                        </tr>
                        <tr>
                            <td>Web Development, Certification</td>
                            <td>Udemy</td>
                            <td>May 2023</td>
                        </tr>
                        <tr>
                            <td>Data Science, Diploma</td>
                            <td>Lighthouse Labs</td>
                            <td>September 2022</td>
                        </tr>
                        <tr>
                            <td>Civil Engineering, BaSC</td>
                            <td>Western University</td>
                            <td>February 2012</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="employment" class="article-container">
                <h2>Employment</h2>
                <table id="employment-table">
                    <tbody>
                        <tr>
                            <th class="position">Position</th>
                            <th class="company">Company</th>
                            <th class="start">Start</th>
                            <th class="end">End</th>
                        </tr>
                        <tr>
                            <td><a href="#collapse-item1" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-item1">Data Analyst</a></td>
                            <td><a href="#collapse-item1" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-item1">Freelance</a></td>
                            <td><a href="#collapse-item1" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-item1">October 2022</a></td>
                            <td><a href="#collapse-item1" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-item1">Present</a></td>
                        </tr>
                        <tr>
                            <td class="collapsed-row" colspan="4">
                                <div class="collapse" id="collapse-item1">
                                    <ul>
                                        <li>Working with clients to retrieve and manipulate data accumulated over the last decade.</li>
                                        <li>Using the Data Science life cycle as our guidepost, we perform discoveries in the context of their business goals to uncover actionable insights.</li>
                                        <li>Prefer direct communication with the COO to develop hypotheses and outline the investigation.</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="#collapse-item2" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-item2">Project Coordinator</a></td>
                            <td><a href="#collapse-item2" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-item2">Four Seasons Site Development</a></td>
                            <td><a href="#collapse-item2" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-item2">March 2014</a></td>
                            <td><a href="#collapse-item2" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-item2">October 2022</a></td>
                        </tr>
                        <tr>
                            <td class="collapsed-row" colspan="4">
                                <div class="collapse" id="collapse-item2">
                                    <ul>
                                        <li>Implemented and enforced production-specific safety programs and maintained clean safety records year-on-year in concert with clients, consultants, subcontractors, and company health & safety management personnel; challenging safety conditions include 30-m depth excavations and micro-tunneling underneath a provincial highway.</li>
                                        <li>Developed skill sets to meet challenging deadlines and negotiate unforeseen complications in the pre-construction and exploratory phases of most projects such that client needs were still met with minimal loss to time and budget.</li>
                                        <li>Created technical specification documents for clients to satisfy contract requirements when closing projects.</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="#collapse-item3" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-item3">Cadet Engineer</a></td>
                            <td><a href="#collapse-item3" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-item3">Stateland</a></td>
                            <td><a href="#collapse-item3" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-item3">September 2012</a></td>
                            <td><a href="#collapse-item3" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-item3">April 2013</a></td>
                        </tr>
                        <tr>
                            <td class="collapsed-row" colspan="4">
                                <div class="collapse" id="collapse-item3">
                                    <ul>
                                        <li>Assessed BoM for semi-detached housing to spot deviations from historical data and/or implement changes according to design revisions to inform future design decisions relating to subdivision developments and other low-cost residential projects.</li>
                                        <li>Provided material take-offs to develop construction schedules and plans for material procurement.</li>
                                        <li>Consulted with vendors to closely monitor their efforts (and re-establish deadlines as necessary) and to conduct trade buy-ins for masonry works, steel framing, and for various architectural elements such as windows and doors.</li>
                                        <li>Facilitated meetings between senior engineers and vendors to negotiate costs, determine product specifications, and maintain collaborative relationships between all parties.</li>
                                        <li>Created and modified existing templates to automate routine assignments, which doubled work efficiency as well as enhanced accuracy and consistency by removing sources of human error.</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="skills" class="article-container">
                <h2>Skills</h2>
                <div class="skills-grid">
                    <div class="big-data">
                        <h6>Big Data</h6>
                        <ul>
                            <li>apache spark</li>
                            <li>pyspark</li>
                        </ul>
                    </div>
                    <div class="data-wrangling">
                        <h6>Data Wrangling</h6>
                        <ul>
                            <li>numpy</li>
                            <li>pandas</li>
                            <li>statsmodels</li>
                            <li>scipy</li>
                        </ul>
                    </div>
                    <div class="data-visualization">
                        <h6>Data Visualization</h6>
                        <ul>
                            <li>matplotlib</li>
                            <li>seaborn</li>
                            <li>plotly</li>
                        </ul>
                    </div>
                    <div class="programming">
                        <h6>Programming</h6>
                        <ul>
                            <li>python</li>
                            <li>SQL</li>
                            <li>javascript</li>
                        </ul>
                    </div>
                    <div class="machine-learning">
                        <h6>Machine Learning</h6>
                        <ul>
                            <li>scikit-learn</li>
                            <li>keras</li>
                            <li>NLTK</li>
                            <li>gensim</li>
                            <li>OpenCV</li>
                            <li>SVM</li>
                        </ul>
                    </div>
                    <div class="tools-platform">
                        <h6>Tools & Platforms</h6>
                        <ul>
                            <li>AWS</li>
                            <li>jupyter</li>
                            <li>VSCode</li>
                            <li>github</li>
                            <li>tmux</li>
                            <li>flask</li>
                            <li>Docker</li>
                            <li>ffmpeg</li>
                        </ul>
                    </div>
                    <div class="web-development">
                        <h6>Web Development</h6>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Node.js</li>
                            <li>figma</li>
                        </ul>
                    </div>
                </div>
            </div>
            

        </article>

        <!-- ASIDE: QUICK LINKS -->

        <aside id="quick-links" class="container">
            <table>
                <tbody>
                    <tr>
                        <th><h5>Quick links</h5></th>
                    </tr>
                    <tr>
                        <td><a href="/resume">resume</a></td>
                    </tr>
                    <tr>
                        <td><a href="/portfolio">portfolio</a></td>
                    </tr>
                    <tr>
                        <td><a href="/blog">blog</a></td>
                    </tr>
                </tbody>
            </table>
        </aside>

    </main>

<%- include('partials/footer.ejs') -%>