body {
    background-color: #F4F7F8;
    color: #4E4E4E;
    font-family: 'Inter', sans-serif;
    line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    line-height: 3;
}

a {
    color: #4E4E4E;
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    margin: 0;
    text-indent: 2rem;
}

.container {
    padding: 3rem;
}

.under-construction {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    height: 60vh;
    text-align: center;
}


/***** CALENDLY *****/
.calendly-badge-widget .calendly-badge-content {
    font-family: 'Inter', sans-serif;
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: .1rem;
    padding: 1rem;
    transition: background-color .25s;
    -webkit-transition: background-color .25s;
    -moz-transition: background-color .25s;
    -ms-transition: background-color .25s;
    -o-transition: background-color .25s;
}

.calendly-badge-widget .calendly-badge-content:hover {
    background-color: #ED1C24 !important;
}


/***** HEADER *****/
header {
    position: sticky;
    top: 0;
    z-index: 1;
}

    /* BANNER */
    #banner-wrapper {
        background-color: #F4F7F8;
    }

    #banner {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch; /* to add height to accessibility-wrapper */
        justify-content: space-between; /* auto-generate gap between logo and accessibility-wrapper */

        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    #logo {
        width: 8rem;
    }

    #accessibility-wrapper {
        display: flex;
        align-items: flex-end;
    }

    .accessibility-items {
        display: flex;
        gap: 1rem;
    }

    .placeholder {
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
    }

    /* BREADCRUMB */
    #breadcrumb-wrapper {
        display: flex;
        background-color: #E2E2E2;
        font-size: .6rem;
        font-weight: 300;
        letter-spacing: .1rem;

        --bs-breadcrumb-divider: '>'; /* custom Bootstrap variable */
    }

    #breadcrumb-wrapper .container {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .breadcrumb {
        margin: 0;
    }

    #breadcrumb-wrapper .navbar-row {
        display: none;
    }

    #banner-divider {
        height: .2rem;
    }



/***** MAIN *****/
main.container {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 3rem;
}

    /*** NAVIGATION ***/
    #navbar {
        display: flex;
        flex-flow: column nowrap;
        flex-basis: 25rem;

        position: sticky;
        font-weight: 300;
        padding-top: 3rem;
        max-height: 60vh;
        overflow-y: scroll;
        top: 9rem;
        
        mask-image: linear-gradient(
            180deg,
            transparent 0,
            #000 3rem calc(100% - 3rem),
            transparent);
    }

    #navbar a:hover {
        color: #00BFFF;
    }

    #navbar-content li {
        margin-bottom: 1rem;
    }

    #navbar-content > ul {
        padding-left: 0;
    }

    #navbar-content > ul > ul {
        font-size: .75rem;
    }

    #navbar .quick-links {
        display: none;
        padding-top: 0;
        position: relative;
        text-align: left;
        top: 0;
    }

    #navbar .quick-links td {
        font-size: .75rem;
        border-left: 1px solid #2E3192;
        border-right: none;
        padding-left: 1rem;
        padding-right: 0;
    }

    .navbar-spacer {
        height: 3rem;
    }

    /*** MAIN CONTENT ***/
    #main {
        margin: 0 3rem;
    }
    #main p {
        font-size: .80rem;
    }

    .article-container {
        position: relative;
        margin-bottom: 3rem;
        scroll-margin-top: 8rem;
    }

    #main table, #main p {
        position: relative;
        font-size: .75rem;
        width: 100%;
    }

    #main tr:hover {
        background-color: #E2E2E2;
    }

    #main tr ul {
        margin-bottom: 0;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    #main th {
        border-bottom: 1px solid #4E4E4E;
        padding: .5rem;
    }

    #main th.education {
        width: 50%;
    }

    #main th.institution {
        width: 25%;
    }

    #main th.graduation {
        width: 25%;
    }

    #main th.position {
        width: 25%;
    }

    #main th.company {
        width: 35%;
    }

    #main th.start,
    #main th.end {
        width: 20%;
    }

    #main th:nth-child(3),
    #main td:nth-child(3),
    #main th:nth-child(4),
    #main td:nth-child(4)
    {
        text-align: end;
    }

    #main td {
        border-top: 1px dotted #4E4E4E;
        font-weight: 300;
        padding: .5rem;
    }

    #main .collapsed-row {
        border-top: 0;
        padding: 0;
    }

    #main .collapsed-row li {
        font-size: .7rem;
        list-style: circle outside;
    }

    .skills-grid {
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;
        justify-content: start;

        position: relative;
        font-size: .75rem;
        font-weight: 300;
        max-height: 60vh;
    }

    .skills-grid h6 {
        font-size: 0.75rem;
        font-weight: 700;
        padding-bottom: .5rem;
    }

    .skills-grid ul {
        padding-left: 0;
    }

    /*** ASIDE ***/
    .quick-links {
        display: flex;
        flex-flow: column nowrap;
        flex-basis: 25rem;

        position: sticky;
        font-weight: 300;
        letter-spacing: .2rem;
        padding-left: 0;
        padding-right: 0;
        max-height: 50vh;
        text-align: right;
        top: 9rem;
    }

    .quick-links a:hover {
        color: #ED1C24;
    }

    .quick-links td {
        padding: .5rem 0;
    }

    .quick-links th {
        font-size: 1.2rem;
        padding-bottom: 1rem;
        vertical-align: middle;
    }

    .quick-links td {
        font-size: .75rem;
        border-right: 1px solid #2E3192;
        padding-right: 1rem;
    }



/***** FOOTER *****/
#footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    color: #F4F7F8;
    font-size: .75rem;
    font-weight: 100;
    
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#footer .social-media {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: end;
}

#footer a {
    color: #F4F7F8;
}

#footer .logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: end;
    justify-content: center;
    gap: .25rem;
}

#footer .logo-img {
    height: 1.5rem;
}

#footer .logo-title {
    display: flex;
    flex-flow: column nowrap;

    font-size: .8rem;
    font-weight: 300;
    line-height: .8;
}

#footer p {
    font-size: .6rem;
    letter-spacing: .1rem;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
}



/***** UTILITIES *****/

/* DISABLE TEXT HIGHLIGHTING */
.no-select {
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

/* ANIMATED GRADIENT */
.gradient-background {
    background: linear-gradient(300deg, #2E3192 35%, #ED1C24 70%, #00BFFF 100%);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    -webkit-animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }



/***** BREAKPOINTS *****/

@media only screen and (max-width: 1200px) {
    aside.quick-links {
        display: none;
    }

    #navbar .quick-links {
        display: flex;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 1000px) {
    #main {
        margin-right: 0;
    }

    .skills-grid {
        max-height: 80vh;
    }
}

@media only screen and (max-width: 767px) {    
    #breadcrumb-wrapper .breadcrumb-items {
        display: none;
    }

    #breadcrumb-wrapper .navbar-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    #breadcrumb-wrapper .navbar-row-links,
    #breadcrumb-wrapper .navbar-row-items {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
    }

    #breadcrumb-wrapper .navbar-row-links {
        font-weight: 500;
    }

    #breadcrumb-wrapper .navbar-row-links a:hover {
        color: #ED1C24;
    }

    #breadcrumb-wrapper .navbar-row-items a:hover {
        color: #00BFFF;
    }

    #navbar {
        display: none;
    }

    #main {
            margin-left: 0;
        }
}

@media only screen and (max-width: 576px) {
    .container {
        padding: 3rem 0;
    }

    .article-container {
        scroll-margin-top: 10rem;
    }

    #banner {
        justify-content: center;
    }

    .accessibility-items {
        display: none;
    }

    #breadcrumb-wrapper .navbar-row {
        flex-flow: column nowrap;
        align-items: center;
    }

    .calendly-badge-widget {
        margin-right: -59px !important;
        right: 50% !important;
    }

    /* #footer {
        height: 40vh;
    } */
}

@media only screen and (max-width: 420px) {
    main.container {
        padding: 0 2rem;
    }

    .skills-grid {
        max-height: 100vh;
    }
}